body{
  background-color: black;
  /* background-image: url("Images/bg2.png");
  background-repeat: repeat;

   */
}

h1 {
  text-align: center;
  background-color: #007bff;
}

/* p {
  margin-left: 5px;
} */
div > img {
  margin-bottom: 25px; 
   object-fit:contain;
   max-width: 90%; 
   display: block;
   margin: auto auto;
}

.App {
  text-align: justify;
  background-color: #c9e6fa;
}

.main-content {
  width: 80%;
  max-width: 800px;
  margin: auto;
}

.search{
  text-align: right;
}
.show-name {
  text-align: center;
  background-color: lawngreen;
  margin-top: 5px;
}
.App-header {
  background-color: #4bd146;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
